body {
    background-color: lightblue;
  }
  
.outer {
 background-color: red;
 color: white;
 height: 400px;
 width: 600px;
 border-radius: 20px;
 position: relative;
 border-color: white;
 border-width: 5px;
 border-style: solid;
 text-transform: uppercase;
 font-family: 'Times New Roman', Times, serif;
 text-align: center;
 letter-spacing: 7px;
}

.thisismyname {

    background-color: white;
    color: black;
    position: relative;
    top: 30%;
    text-align: center;
    transform: translateY(-50%);
    font-family: Snell Roundhand, cursive;
    font-size: 3rem;
    height: 200px;
    margin: 0;
    text-transform: capitalize;
    line-height: 50%;
  
    
  
  
}
